/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/**************************
***************************
        Left Panel 
***************************
***************************/

.left-panel {
  width: 13%;
  background-color: #f2f2f2;
  padding: 15px 0px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 85%;
  padding: 20px;
}

.lp-button {
  font-family: "Inter";
  width: 135px;
  height: 135px;
  border-radius: 20%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #6d6d6d;
  margin-bottom: 18.5px;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.lp-button:hover {
  background: rgb(224, 224, 224);
  cursor: grab;
}

.lp-button:not(#monthlyCalendarBtn):focus {
  color: #fff;
  background: #f76e72;
}

.lp-button img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-bottom: 6px;
  display: inline-block;
}

.user-details {
  text-align: left;
  margin-bottom: 0px;
}

.user-details span {
  display: block;
  font-size: medium;
  font-weight: 600;
}

.monthly-calendar-popup {
  position: absolute;
  top: 54%;
  z-index: 1;
}

/**************************
***************************
          Header 
***************************
***************************/

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: 400;
  display: flex;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.create-event {
  font-family: "Inter";
  color: #fff;
  font-size: large;
  background-color: #f76e72;
  border: none;
  padding: 10px 17px;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.create-event:hover {
  background: rgb(224, 224, 224);
  color: #6d6d6d;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  background: none;
  color: rgb(0, 0, 0);
  border: none;
  padding: 7px;
  font-size: 30px;
  height: 43px;
  width: 43px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.toggle:hover {
  background-color: #edebeb;
}

.notification-bar {
  width: 35%; /* Adjust the width of the notification bar as needed */
  height: 5rem; /* Adjust the height of the notification bar as needed */
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Modified box shadow to exclude top */
  border-radius: 8px; /* Adjust border-radius as needed */
  margin-right: 10px; /* Add margin to separate the notification bar from the toggle buttons */
  display: flex;
  align-items: center;
}

.gradient-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #3498db;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

#notification {
  font-size: small;
}

.read-more {
  color: #08c932;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.read-more:hover {
  background-color: transparent;
  text-decoration: underline;
}

.calendar-grid {
  background-color: #b0575a;
}

