.weekly-calendar-grid {
  margin: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.hour-label {
  background-color: #e6f7ff;
}

tr:nth-child(odd) td:nth-child(odd) {
  background-color: #f9f9f9; /* White background for odd cells in odd columns */
}

tr:nth-child(even) td:nth-child(even) {
  background-color: #f9f9f9; /* White background for even cells in even columns */
}

tr:nth-child(odd) td:nth-child(even) {
  background-color: #ddd; /* Gray background for even cells in odd columns */
}

tr:nth-child(even) td:nth-child(odd) {
  background-color: #ddd; /* Gray background for odd cells in even columns */
}

.weekly-calendar-container {
  margin: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
  height: 82vh; /* Set the desired height for the scrollable container */
  /* border-radius: 8px; */ /* Set the desired border-radius for rounded corners */
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Add a light horizontal line for 15-minute intervals */
.hour-label::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}

.has-event {
  background-color: #0056b3;
}

/* Style the horizontal line for 15-minute intervals in calendar cells */
.calendar-cell::before {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
}
.yearly-calendar-container {
  overflow-x: auto; /* Enable horizontal scrolling for years */
}

.scrollable-years {
  display: flex;
}

.year-container {
  flex: 0 0 auto; /* Prevent years from growing and shrinking */
  margin-right: 20px; /* Add spacing between years */
}

.scrollable-weeks {
  height: 500px; /* Set a fixed height for the weeks container */
  overflow-y: auto; /* Enable vertical scrolling for weeks */
}
/* Add this to your GoogleCalendarGrid.css or your styling file */

.week-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0; /* Background color for the week navigation bar */
}

.week-navigation button {
  background-color: #f76e72; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.week-navigation button:hover {
  background-color: #0056b3; /* Hover state background color */
}

.week-navigation span {
  font-size: 16px;
  font-weight: bold;
}
